<!DOCTYPE html>
<html class='no-js' lang='en' ng-app="app">

<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Tables</title>
    <meta content='lab2023' name='author'>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href="assets/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/images/favicon.ico" rel="icon" type="image/ico" />
    <!-- <link type="text/css" rel="stylesheet" href="assets/leaflet/leaflet.css" /> -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />

    <!-- Javascripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" type="text/javascript"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="assets/leaflet/leaflet.js"></script> -->   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="assets/javascripts/application-985b892b.js" type="text/javascript"></script>

    <script src="ng_app.js"></script>
    <script src="ng_controller.js"></script>
    <script src="ng_service.js"></script>
    <!-- Google Analytics -->
</head>

<body class='main page'>
    <!-- Navbar -->
    <div class='navbar navbar-default' id='navbar'>
        <a class='navbar-brand' href='#'>
            <i class='icon-beer'></i> Health Monitoring and Surveillance System (HMS)
        </a>
        <ul class='nav navbar-nav pull-right'>
            <li class='dropdown user'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    <i class='icon-user'></i>
                    <strong>XXX</strong>
                    <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a href='#'>Edit Profile</a>
                    </li>
                    <li class='divider'></li>
                    <li>
                        <a href="/">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id='wrapper'>
        <!-- Sidebar -->
        <section id='sidebar'>
            <i class='icon-align-justify icon-large' id='toggle'></i>
            <ul id='dock'>
                <li class='launcher'>
                    <i class='icon-map-marker'></i>
                    <a href='index.html'>Map</a>
                </li>
                <li class='launcher'>
                    <i class='icon-dashboard'></i>
                    <a href="dashboard.html">Chart</a>
                </li>
                <li class='launcher'>
                    <i class='icon-file-text-alt'></i>
                    <a href="forms.html">Forms</a>
                </li>
                <li class='active launcher'>
                    <i class='icon-table'></i>
                    <a href="tables.html">Reports</a>
                </li>
            </ul>
            <div data-toggle='tooltip' id='beaker' title='Made by spamLab'></div>
        </section>
        <!-- Tools -->
        <section id='tools'>
            <ul class='breadcrumb' id='breadcrumb'>
                <li class='title'>Reports</li>
            </ul>
            <div id='toolbar'>
            </div>
        </section>
        <!-- Content -->
        <div id='content' ng-controller="reportController">
            <div class='panel panel-default grid'>
                <div class='panel-heading'>
                    <i class='icon-table icon-large'></i> Default Table
                    <div class='panel-tools'>
                        <div class='btn-group'>
                            <a class='btn' href='#'>
                                <i class='icon-wrench'></i> Settings
                            </a>
                            <a class='btn' href='#'>
                                <i class='icon-filter'></i> Filters
                            </a>
                            <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Reload'>
                                <i class='icon-refresh'></i>
                            </a>
                        </div>
                        <div class='badge'>3 record</div>
                    </div>
                </div>
                <div class='panel-body filters'>
                    <div class='row'>
                        <div class='col-md-9'>
                            Add your custom filters here... {{response}} 
                        </div>
                        <div class='col-md-3'>
                            <div class='input-group'>
                                <input class='form-control' ng-model="test" placeholder='Quick search...' type='text'>
                                <span class='input-group-btn'>
                    <button class='btn' type='button'>
                      <i class='icon-search'></i>
                    </button>
                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table class='table'>
                    <tr>
                        <th class="text-center" colspan="2">ชื่อผู้ป่วย</th>
                        <th class="text-center" colspan="2">ชื่อแพทย์ที่รายงาน</th>
                        <th class="text-center" colspan="2">ที่อยู่</th>
                        <th class="text-center" colspan="2">หมู่</th>
                        <th class="text-center" colspan="2">ตำบล</th>
                        <th class="text-center" colspan="2">อำเภอ</th>
                        <th class="text-center" colspan="2">จังหวัด</th>
                        <th class="text-center" colspan="2">วันที่รายงาน</th>
                        <th class="text-center" colspan="2">ใบงาน</th>
                        <th class="text-center" colspan="2">Actions</th>
                    </tr>
                    <tr ng-repeat="d in dengues | filter: test">
                        <td class="text-center" colspan="2">{{d.pat_name}}{{d.pat_name.length}}</td>
                        <td class="text-center" colspan="2">{{d.doc_name}}</td>
                        <td class="text-center" colspan="2">{{d.add_no}}</td>
                        <td class="text-center" colspan="2">{{d.vill_name}}</td>
                        <td class="text-center" colspan="2">{{d.tam_name}}<span ng-if="d.tam_name == null">null</span></td>
                        <td class="text-center" colspan="2">{{d.amp_name}}<span ng-if="d.amp_name == null">null</span></td>
                        <td class="text-center" colspan="2">{{d.prov_name}}<span ng-if="d.prov_name == null">null</span></td>
                        <td class="text-center" colspan="2">{{d.date_sick}}</td>
                        <td class="text-center" colspan="2">{{d.token}}</td>
                        <td class="text-center" colspan="2">
                            <a class='btn btn-success' data-toggle='tooltip' href='#' title='Zoom'>
                                <i class='icon-zoom-in'></i>
                            </a>
                            <a class='btn btn-info' href='#'>
                                <i class='icon-edit'></i>
                            </a>
                            <a class='btn btn-danger' href='#' ng-click="delete(d)">
                                <i class='icon-trash'></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <p></p>
            <div class='panel-footer'>
                <div class='pull-right'>
                    Showing 1 to 10 of 32 entries 
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer -->

    <!-- Google Analytics -->
    <script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
    </script>
</body>

</html>
